@import 'normalize.css';
* {
    --color-primary: #FF6940;
    --color-primary-hover: #FF7751;
    --color-secondary: #FFAC40;
    --color-secondary-hover: #ffa527;
    --color-background: #467D80;
    --color-primary-background: #40edf7;
    --color-primary-background-hover: #40edf7;
    --color-secondary-background: #836C4D;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-light-gray: #BFBFBF;
    --color-dark-gray: #737373;
    --color-darker-gray: #303030;
}